cs-abbyy/src/main/resources/xsd-schemas/processTextField.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="@link" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="encoding"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="line" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="char" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:unsignedLong" name="left" use="required"/>
                                                        <xs:attribute type="xs:unsignedLong" name="top" use="required"/>
                                                        <xs:attribute type="xs:unsignedLong" name="right" use="required"/>
                                                        <xs:attribute type="xs:unsignedLong" name="bottom" use="required"/>
                                                        <xs:attribute type="xs:byte" name="confidence" use="required"/>
                                                        <xs:attribute type="xs:boolean" name="suspicious" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:unsignedLong" name="left" use="required"/>
                                    <xs:attribute type="xs:unsignedLong" name="top" use="required"/>
                                    <xs:attribute type="xs:unsignedLong" name="right" use="required"/>
                                    <xs:attribute type="xs:unsignedLong" name="bottom" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:unsignedLong" name="left" use="required"/>
                        <xs:attribute type="xs:unsignedLong" name="top" use="required"/>
                        <xs:attribute type="xs:unsignedLong" name="right" use="required"/>
                        <xs:attribute type="xs:unsignedLong" name="bottom" use="required"/>
                        <xs:attribute type="xs:string" name="type"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>