cs-xml/src/test/resources/xml/test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="element1" type="xs:string"/>
                <xs:element name="element2" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="someid" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>